<!-- footer.html -->
<footer class="footer bg-primary text-white pt-4 pb-2">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>MedNexa is dedicated to connecting patients with healthcare professionals, offering quality care and medical advice at your convenience.</p>
            </div>

            <!-- Links Section -->
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">About</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                    <li><a href="#" class="text-white">Terms of Service</a></li>
                </ul>
            </div>

            <!-- Social Links Section -->
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="https://facebook.com" class="text-white mr-3" target="_blank">
                    <i class="fab fa-facebook"></i> Facebook
                </a>
                <a href="https://twitter.com" class="text-white mr-3" target="_blank">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
                <a href="https://instagram.com" class="text-white mr-3" target="_blank">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
                <a href="https://linkedin.com" class="text-white" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>

        <!-- Copyright Section -->
        <div class="text-center mt-4">
            <p>&copy; 2024 MedNexa. All Rights Reserved.</p>
        </div>
    </div>
</footer>

<!-- Font Awesome for Social Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
